@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.header{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-family: "Playfair Display", serif;
    margin-top: 20px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}